<app-splash-screen *ngIf="showSplash"></app-splash-screen>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="issues">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>Tab 1</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="social">
      <ion-icon name="share-social"></ion-icon>
      <!-- <ion-label>Tab 2</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="fav">
      <ion-icon name="heart-outline"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
