<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="entry-content" itemprop="text">


    <p>Squirrel News is a project dedicated to changing perspectives through solutions-oriented journalism.</p>



    <p>Within the framework of a small, non-profit association, we shine a light on the news that exposes us to original
      solutions, approaches and ideas. Our aim is to offer counterbalance and respite from the negativity of mainstream
      media, and the clickbait, doomsday and profit-driven journalism that often comes with it.</p>



    <p>Of course, this means our newsletters, app and website are 100% free of charge. We strive to make our services
      accessible to as many people as possible, and keep them free of advertisements and any corporate agenda.</p>



    <h2><strong>Why a squirrel?</strong></h2>



    <p>Like a squirrel that handpicks the most nourishing nuts, we will only be selecting the most productive and
      relevant news, which won’t have lost significance within a week. The result in each issue will be an organic and
      sustainable selection by human editors – no algorithms – helping to make sense of the world, without denying its
      challenges.</p>



    <p>In times of relentless negativity, information overload and subversive echo chambers, we rely on carefully
      curated selections that stem from no other agenda than drawing attention to the news we find most meaningful.</p>



    <h2><strong>Who are we?</strong></h2>



    <p>We’re a fairly international team of volunteers who have made our homes in Berlin. Our goal is for Squirrel News
      to grow and curate constructive news for the foreseeable future, reaching increasingly diverse audiences and
      covering more far-reaching subjects.</p>



    <p>In order to do this, naturally we’re going to need your support. If every reader donates the cost of a cup of
      coffee (or two) each month, then the future of Squirrel News is secure. We can then continue our passion for
      finding the most worthwhile news to help brighten your day.</p>



    <h2><strong>Our Association</strong></h2>



    <p>Squirrel News is run 100% by the non-profit organisation Constructive News e. V., which we founded in October
      2019 in order to provide exposure for innovative, sustainable solutions concerning a variety of social challenges.
    </p>



    <p>Our association has its headquarters in Berlin, is recognised by the tax office as a non-profit organisation, and
      is entered in the register of associations at the Charlottenburg district court under the number VR 37904 B. All
      donations to Squirrel News are managed by Constructive News e.V. and are tax deductible within Germany.</p>



    <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
  </div>
</ion-content>