<app-splash-screen *ngIf="showSplash"></app-splash-screen>
<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img id="logo-image" src="assets/icon/squirrel-news-logo.svg" alt="Squirrel News Logo">
      <ion-title><span>Squirrel News <strong>{{flag}}</strong></span></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-split-pane contentId="main-content">

    <ion-menu side="end" type="overlay" contentId="main-content">
      <!-- <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <div class="logo">
        <img src="assets/icon/squirrel-news-logo.svg" alt="Squirrel News Logo">
      </div>
      <ion-content class="app-menu">
        <ion-list>
          <ion-item routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Artikel</ion-label>
          </ion-item>
          <ion-item routerLink="/archive">
            <ion-icon name="filing" slot="start"></ion-icon>
            <ion-label>Archiv</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
