<ion-tabs #tabs (ionTabsDidChange)="handleTabSwitch()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (press)="handleDoubleClick()">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label>home</ion-label> -->
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button (click)="handleShareTapped()" [disabled]="!canActivate" >
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="handleHeartTapped()" [disabled]="!canActivate">
      <ion-icon *ngIf="favorite" name="heart"></ion-icon>
      <ion-icon *ngIf="!favorite" name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <!-- <ion-label>Archive</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>