<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Squirrel News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 20vh;">
    <ion-row></ion-row>
    <ion-row>
      <ion-col size="8" offset="2"
      (click)="switchLanguage()">
        <h2>
          {{ 'lang.switch' | translate | async }}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" class="ion-align-self-center"
      (click)="openInBrowser('about.url')" >
        <h2>
          {{ 'about.name' | translate | async }}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" class="ion-align-self-center"
      (click)="openInBrowser('support.url')" >
        <h2>
          {{ 'support.name' | translate | async }}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" class="ion-align-self-center"
      (click)="openInBrowser('imprint.url')" >
        <h2>
          {{ 'imprint.name' | translate | async }}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" class="ion-align-self-center"
      (click)="openInBrowser('privacyPolicy.url')">
        <h2>
          {{ 'privacyPolicy.name' | translate | async }}
        </h2>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
