<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Squirrel News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 10vh;">
    <ion-row>
      <ion-col size="8" offset="2"
      (click)="switchLanguage()">
      <ion-button fill="clear" color="dark" expand="block">
        <h2>
          {{ 'lang.switch' | translate | async }}
        </h2>
      </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" (click)="openFavorites()">
        <ion-button fill="clear" color="dark" expand="block">
          <h2>
            {{ 'issues.favorites' | translate | async }}
          </h2>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" class="ion-align-self-center"
        (click)="open('about.path')" >
        <ion-button fill="clear" color="dark" expand="block">
          <h2>
            {{ 'about.name' | translate | async }}
          </h2>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" class="ion-align-self-center"
      (click)="openInExternalBrowser('support.url')" >
      <ion-button fill="clear" color="dark" expand="block">
        <h2>
          {{ 'support.name' | translate | async }}
        </h2>
      </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" class="ion-align-self-center"
      (click)="open('imprint.path')" >
        <ion-button fill="clear" color="dark" expand="block">
          
          <h2>
            {{ 'imprint.name' | translate | async }}
          </h2>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" class="ion-align-self-center"
      (click)="open('privacyPolicy.path')">
        <ion-button fill="clear" color="dark" expand="block">

          <h2>
            {{ 'privacyPolicy.name' | translate | async }}
          </h2>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
