<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Imprint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="entry-content" itemprop="text">

    <p><strong>Squirrel News</strong> is a brand of the </p>
    <p>Constructive News e. V. (non-profit)</p>
    <p>Soldiner Str. 19, 13359 Berlin</p>
    <p><strong>Contact:</strong> <a href="https://squirrel-news.net/contact/">via contact form</a></p>
    <p><strong>Authorized to represent and responsible for the content:</strong> Jonathan Widder (Director)</p>
    <p><strong>Registration number: </strong>VR 37904 B (Register of Associations at Charlottenburg Local Court)</p>
    <p><strong>Social media and other online presences:</strong></p>
    <p>This imprint also applies to the following social media presences and online profiles:</p>
    <p>Facebook: <a href="https://www.facebook.com/squirrelnews" target="_blank" rel="noreferrer noopener"
        aria-label="https://www.facebook.com/squirrelnews (opens in a new tab)">https://www.facebook.com/squirrelnews</a>
    </p>
    <p>Instagram: <a href="https://www.instagram.com/squirrelnews" target="_blank" rel="noreferrer noopener"
        aria-label="https://www.instagram.com/squirrelnews (opens in a new tab)">https://www.instagram.com/squirrelnews</a>
    </p>
    <p>Twitter: <a href="https://twitter.com/squirrelnews_en" target="_blank" rel="noreferrer noopener"
        aria-label=" (opens in a new tab)">https://twitter.com/squirrelnews_en</a></p>
    <p><strong>Liability and copyright information:</strong></p>
    <p>Links to external websites: Contents of foreign websites, to which we refer directly or indirectly, are outside
      our area of responsibility and we do not adopt them as our own. The provider of the linked websites is solely
      liable for all contents and especially for damages resulting from the use of the information available on the
      linked websites.</p>
    <p>Copyrights and trademark rights: All contents presented on this website, such as texts, photographs, graphics,
      brands and trademarks are protected by the respective property rights (copyrights, trademark rights). The use,
      reproduction, etc. are subject to our rights or the rights of the respective authors or rights administrators.</p>
    <p>References to infringements of rights: Should you notice any legal infringements within our Internet presence, we
      ask you to point them out to us. We will remove any illegal content and links immediately after becoming aware of
      them.</p>
    <div class="block-image">
      <figure class="aligncenter size-large is-resized"><img
          src="assets/icon/Blatt.png" alt="" class="wp-image-245" width="95"
          height="81"></figure>
    </div>
    <p>Squirrel News runs on green servers from Manitu, which are 100% powered by hydroelectric power.</p>
  </div>
</ion-content>