<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>about-de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="entry-content" itemprop="text">

    <p>Squirrel News ist ein Projekt aus der Zivilgesellschaft, für die Zivilgesellschaft, und über die
      Zivilgesellschaft. Im Rahmen eines kleinen, gemeinnützigen Vereins machen wir neue Ideen, Projekte, Menschen und
      Lösungsansätze besser sichtbar, die bei der üblichen medialen Blick auf Politiker, Katastrophen und Skandale oft
      zu kurz kommen.</p>



    <p>Die Nachrichten und Geschichten darüber möchten wir möglichst einfach&nbsp;zugänglich machen. Deshalb sind all
      unsere Dienstleistungen kostenlos, übersichtlich und so weit wie möglich frei von Werbung.</p>



    <h2>Warum ein Eichhörnchen?</h2>



    <p>In Zeiten von Informationsüberflutung und Algorithmen, die uns als Nutzer gezielt unter Beschuss nehmen, setzen
      wir auf wenige, sorgfältig ausgewählte Beiträge. So wie ein Eichhörnchen seine Nüsse sammelt, sammeln für euch wir
      gute, sinnvolle Nachrichten: organisch, per Hand und möglichst nachhaltig.</p>



    <p>Das Ergebnis ist in jeder Ausgabe eine handverlesene Auswahl unserer Redakteurinnen und Redakteure: eine
      konstruktive Mischung aus Nachrichten und Geschichten, die dabei helfen, den Sinn in der Welt zu erkennen und zu
      bewahren.</p>



    <h2>Wer sind wir?</h2>



    <p>Wir selbst sind ein <a href="https://squirrel-news.net/de/team/">internationales Team</a> und arbeiten
      hauptsächlich von Berlin aus. Bisher arbeiten wir alle ehrenamtlich. Dennoch ist es unser Ziel, Squirrel News
      langfristig zu betreiben und&nbsp; in absehbarer Zukunft auch hauptberuflich ausüben zu können.&nbsp;</p>



    <p>Dafür brauchen wir eure Unterstützung: Wenn alle, die Squirrel News lesen, <a
        href="https://squirrel-news.net/de/unterstuetzen/">regelmäßig einen kleinen Betrag an uns spenden</a>, müssen
      wir uns um unsere Zukunft keine Sorgen machen. Ein paar Euro im Monat reichen schon.</p>



    <h2>Unser Verein</h2>



    <p>Squirrel News ist zu 100 Prozent ein Projekt des gemeinnützigen Vereins Constructive News e.V. Den Verein haben
      wir im Oktober 2019 gegründet, um neue, nachhaltige Lösungen für gesellschaftliche Herausforderungen besser
      sichtbar und zugänglich zu machen.</p>



    <p>Der Constructive News e.V. hat seinen Sitz in Berlin, ist vom Finanzamt als gemeinnützig anerkannt und im
      Vereinsregister des Amtsgerichts Charlottenburg unter dem Aktenzeichen VR 37904 B eingetragen.</p>



    <p>Alle Spenden an Squirrel News laufen über den Constructive News e. V. und sind steuerlich absetzbar.</p>

  </div>
</ion-content>