<ion-header> 
  <ion-toolbar class="home">
    <ion-title slot="start">
      <span class="title">
        Squirrel News
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-slides #articleSlider pager="true"
    (ionSlideDidChange)="handleSlideChange()">
    <ng-container *ngIf="currentArticles.length > 0; else noArticles">
      <ion-slide *ngFor="let article of currentArticles" (click)="openBrowser()">
        <app-article [article]="article"></app-article>
      </ion-slide>
    </ng-container>
  </ion-slides>
</ion-content>

<ng-template #noArticles>
  <ion-slide>
    <div class="wrapper-article">
      <img class="logo-image" src="assets/icon/squirrel-news-logo.svg" alt="Squirrel News Logo">
      No current issue :/

    </div>
  </ion-slide>
</ng-template>