<ion-content >
  <ion-slides pager="true">
    <ion-slide *ngFor="let article of currentArticles | async">
      <div class="wrapper-article">
        <div class="wrapper-image" 
        [ngStyle]="{ 
          'background': 'url(' + article.imageUrl + ') no-repeat top center',
          'background-size': 'cover'
        }">
      </div>
      <div class="content ion-text-left">
        <h2>{{ article.title }}</h2>
        <ion-chip *ngIf="article.source">
          <ion-label>{{article.source}}</ion-label>
        </ion-chip>
        <p>
          {{ article.teaser }}
        </p>
      </div>
      <ion-button expand="block" (click)="openDetailModal(article.origin)">Read More</ion-button>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="wrapper-article wrapper-archive">
        <ion-list class="ion-padding">
          <ion-text color="secondary">
            <h1>Archiv</h1>
          </ion-text>
          <ng-container *ngFor="let issue of archive | keyvalue">
            <ion-list-header>
              Ausgabe {{issue.key}}
            </ion-list-header>
            <ion-item *ngFor="let article of issue.value" (click)="openDetailModal(article.origin)">
              <ion-label>
                {{article.title}}
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
