<div class="wrapper-article">
  <img class="logo" [ngClass]="{ 'intended': intended }" src="../../assets/icon/sn-logo-name.svg" height="76" alt="Squirrel News Logo with text">
  <div class="wrapper-image" [ngStyle]="{ 
      'background': 'url(' + article.imageUrl + ') no-repeat top center',
      'background-size': 'cover'
    }">
    <div class="photo-credit">
      {{ 'article.photo' | translate | async }} {{article.credit}}
    </div>
  </div>
  <div class="issue">
    {{ issueTitle }}
  </div>
  <div class="content ion-text-left">
    <h2>{{ article.title }}</h2>
    {{ article.source }}
    <p>
      {{ article.teaser }}
      <!-- {{ 'article.more' | translate | async }} -->
    </p>
  </div>
</div>